<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanzhong.api.web.dao.master.TblBusinessDao">
    <resultMap id="CompanyInfoMap" type="com.hanzhong.api.web.model.bo.CompanyInfoBO">
        <result column="PRIPID" property="pripId" jdbcType="VARCHAR"/>
        <result column="CREDITCODE" property="usCreditCode" jdbcType="VARCHAR"/>
        <result column="ORGCODE" property="orgCode" jdbcType="VARCHAR"/>
        <result column="ENTNAME" property="entName" jdbcType="VARCHAR"/>
        <result column="INDUSTRY" property="industry" jdbcType="VARCHAR"/>
        <result column="REGCAP" property="regCap" jdbcType="DECIMAL"/>
        <result column="REGCAPCUR" property="regCapCur" jdbcType="VARCHAR"/>
        <result column="ENTTYPE" property="entType" jdbcType="VARCHAR"/>
        <result column="S_EXT_ENTPROPERTY" property="sExtEntProperty" jdbcType="VARCHAR"/>
        <result column="ENTSTATUS" property="entStatus" jdbcType="VARCHAR"/>
        <result column="OPSCOPE" property="opScope" jdbcType="VARCHAR"/>
        <result column="ESDATE" property="esDate" jdbcType="DATE"/>
        <result column="APPRDATE" property="apprDate" jdbcType="DATE"/>
        <result column="OPFROM" property="opFrom" jdbcType="DATE"/>
        <result column="OPTO" property="opTo" jdbcType="DATE"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="REGORG" property="regOrg" jdbcType="VARCHAR"/>
        <result column="DOM" property="dom" jdbcType="VARCHAR"/>
        <result column="OPLOC" property="opLoc" jdbcType="VARCHAR"/>
        <result column="POSTALCODE" property="postalCode" jdbcType="VARCHAR"/>
        <result column="DOMDISTRICT" property="domDistrict" jdbcType="VARCHAR"/>
        <result column="ECOTECDEVZONE" property="ecoTecDevZone" jdbcType="VARCHAR"/>
        <result column="PROVINCE" property="province" jdbcType="INTEGER"/>
        <result column="CITY" property="city" jdbcType="INTEGER"/>
        <result column="AREA" property="area" jdbcType="INTEGER"/>
    </resultMap>

    <!--获取企业信息-->
    <select id="getCompanyInfoList" parameterType="com.hanzhong.api.web.model.bo.CompanyQryBO"
            resultMap="CompanyInfoMap">
        SELECT
        PRIPID, CREDITCODE,ORGCODE,ENTNAME,REGCAP,REGCAPCUR,ENTTYPE,S_EXT_ENTPROPERTY,ENTSTATUS,OPSCOPE, ESDATE,
        APPRDATE,OPFROM,OPTO,NAME,REGORG,DOM,OPLOC,POSTALCODE,DOMDISTRICT,ECOTECDEVZONE,PROVINCE,CITY,AREA
        FROM tblBusiness
        <where>
            <if test="companyName != null and companyName != ''">
                AND ENTNAME = #{companyName}
            </if>
            <if test="usCreditCode != null and usCreditCode != ''">
                AND CREDITCODE = #{usCreditCode}
            </if>
            <if test="orgCode != null and orgCode != ''">
                AND ORGCODE = #{orgCode}
            </if>
            <if test="entStatus != null and entStatus != ''">
                AND ENTSTATUS = #{entStatus}
            </if>
        </where>
    </select>


</mapper>